---
import { getCollection, render } from "astro:content";
import CTA from "../../components/cta.astro";
import Header from "../../components/header.astro";
import { Waitlist } from "../../components/waitlist";
import BaseLayout from "../../layouts/base.astro";

export async function getStaticPaths() {
	const posts = await getCollection("guides");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout
  title={`${post.data.title} – Hype`}
  description={post.data.description}
  image={`https://www.buildhype.dev/api/open-graph/guides/${post.id}.png`}
  url={`https://www.buildhype.dev/guides/${post.id}`}
>
  <Header />
  <div class="w-full max-w-xl mx-auto">
    <h1 class="text-2xl font-bold">{post.data.title}</h1>
    <div class="prose prose-invert mb-20">
      <Content />
    </div>
    <CTA />
  </div>
</BaseLayout>
