---
import "../styles/global.css";
import Container from "../components/container.astro";
import CTA from "../components/cta.astro";
import Header from "../components/header.astro";
import BaseLayout from "../layouts/base.astro";

const nextJs = {
  url: "https://nextjs.org/",
  pretty: "Next.js",
}

const starterKits = [
  {
    name: "The Holistic Starter",
    website: {
      url: "https://starter.holistic.company/",
      pretty: "starter.holistic.company",
    },
    github: {
      url: "https://github.com/jxdltd/holistic-starter",
      pretty: "jxdltd/holistic-starter",
    },
    openSource: true,
    framework: {
      url: "https://tanstack.com/start/latest",
      pretty: "TanStack Start",
    },
    price: "Free",
  },
  {
    name: "Next Forge",
    website: {
      url: "https://www.next-forge.com/",
      pretty: "next-forge.com",
    },
    github: {
      url: "https://github.com/vercel/next-forge",
      pretty: "vercel/next-forge",
    },
    openSource: true,
    framework: nextJs,
    price: "Free",
  },
  {
    name: "ShipFast",
    website: {
      url: "https://shipfa.st/",
      pretty: "shipfa.st",
    },
    github: null,
    openSource: false,
    framework: nextJs,
    price: "$199+",
  },
  {
    name: "Supastarter",
    website: {
      url: "https://supastarter.dev/",
      pretty: "supastarter.dev",
    },
    github: null,
    openSource: false,
    framework: nextJs,
    price: "$349+",
  },
  {
    name: "Supastarter",
    website: {
      url: "https://supastarter.dev/",
      pretty: "supastarter.dev",
    },
    github: null,
    openSource: false,
    framework: {
      url: "https://nuxt.com/",
      pretty: "Nuxt.js",
    },
    price: "$349+",
  },
  {
    name: "Supastarter",
    website: {
      url: "https://supastarter.dev/",
      pretty: "supastarter.dev",
    },
    github: null,
    openSource: false,
    framework: {
      url: "https://svelte.dev/",
      pretty: "SvelteKit",
    },
    price: "$349+",
  },
  {
    name: "ShipFree",
    website: {
      url: "https://shipfree.idee8.agency/",
      pretty: "shipfree.idee8.agency",
    },
    github: {
      url: "https://github.com/Idee8/ShipFree",
      pretty: "Idee8/ShipFree",
    },
    openSource: true,
    framework: nextJs,
    price: "Free",
  }
];
---

<BaseLayout
  title="Starter Kits – Hype"
  description="A collection of popular starter kits"
  image="https://www.buildhype.dev/api/open-graph/starter-kits.png"
  url="https://www.buildhype.dev/starter-kits"
>
  <Header />
  <Container>
  <table class="w-full border-collapse border border-neutral-800 [&_th]:p-2 [&_td]:p-2 text-sm">
    <thead class="text-left bg-neutral-800 font-medium">
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>GitHub</th>
        <!-- <th>Open Source</th> -->
        <th>Framework</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {starterKits.map((starterKit) => (
        <tr>
          <td class="font-medium">{starterKit.name}</td>
          <td>
            <a class="text-blue-400 font-medium hover:text-blue-300" href={starterKit.website.url} target="_blank">{starterKit.website.pretty}</a>
          </td>
          <td>
            {starterKit.github && <a class="text-blue-400 font-medium hover:text-blue-300" href={starterKit.github.url} target="_blank">{starterKit.github.pretty}</a>}
            {!starterKit.github && <span class="text-neutral-400 text-xs font-medium">N/A</span>}
          </td>
          {/* <td>{starterKit.openSource ? "Yes" : "No"}</td> */}
          <td>
            <a class="text-blue-400 font-medium hover:text-blue-300" href={starterKit.framework.url} target="_blank">{starterKit.framework.pretty}</a>
          </td>
          <td>{starterKit.price}</td>
        </tr>
      ))}
    </tbody>
  </table>
</Container>
  <div class="w-full max-w-xl mx-auto">
  <CTA />
</div>
</BaseLayout>
